{% extends "users/email/base.html" %}
{% block mail_title %}
    <h1>Password reset</h1>
{% endblock %}
{% block mail_content %}
    <p>There was request to reset your password.</p>
    <p>To reset password click the button below.</p>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
            <tr>
                <td align="left">
                    <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td><a href="{{ reset_password_link }}" target="_blank">Reset password</a></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}